<html>
<meta charset="utf-8" />

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <title>Paulicéia</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <img src="style/images/logo.png" class="brandPauliceia" width="30" height="30" alt="Pauliceia" loading="lazy">

        <a class="navbar-brand" href="">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mapa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tutorial <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sobre <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contato <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
            </form>
        </div>
    </nav>
    <div>
        <img src="style/images/logo.png" class="logoPauliceia" width="150" height="150" alt="Pauliceia" loading="lazy">
        <h1 class="h1Pauliceia">Paulicéia 2.0:</h1>
        <h2 class="h2Mapeamento"> mapeamento colaborativo da <br> história de Saõ Paulo</h2>
        <h2 class="h2Data">(1870 a 1940)</h2>
    </div>

    <!-- Footer -->
    <div class=pageFooter>
        <footer class="page-footer font-small teal pt-4">

            <!-- Footer Text -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase font-weight-bold" style="color: azure">O que é?</h5>
                        <p style="color: azure">A Pauliceia 2.0 é uma plataforma que tem o objetivo de fazer o
                            mapeamento colaborativo da história de São Paulo no período de 1870 a 1940.</p>

                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-4 mb-md-0 mb-3">

                        <h5 class="text-uppercase font-weight-bold" style="color: azure">Como?</h5>
                        <p style="color: azure">Por meio da interface da plataforma, pesquisadores e estudiosos da
                            cidade podem alimentar os seus dados, desde que sejam espacialmente localizáveis.
                            Dessa forma, uma base cartográfica histórica da cidade será enriquecida a cada alimentação,
                            tornando esses dados também disponíveis a todos.
                            Por outro lado, o usuário que colaborar terá dessa forma um mapa ou uma visualização de sua
                            própria pesquisa.</p>

                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-4 mb-md-0 mb-3">

                        <h5 class="text-uppercase font-weight-bold" style="color: azure">Quando ficará pronta?
                        </h5>
                        <p style="color: azure"> Uma versão beta está atualmente disponível para teste. A versão final
                            está prevista para janeiro de 2021.</p>

                    </div>
                </div>

            </div>

            <!-- Footer Text -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase font-weight-bold" style="color: azure">Como citar?
                        </h5>
                        <p style="color: azure">FERREIRA, K. R.; FERLA, L.; QUEIROZ, G. R.; VIJAYKUMAR, N. L.; NORONHA,
                            C. A.; MARIANO, R. M.; TAVEIRA, D.; SANSIGOLO, G.; GUARNIERI, O.; ROGERS, T.; LESSER, J.;
                            PAGE, M.; ATIQUE, F.; MUSA, D.; SANTOS, J. Y.; MORAIS, D. S.; MIYASAKA, C. R.; ALMEIDA, C.
                            R.; NASCIMENTO, L. G. M.; DINIZ, J. A.; SANTOS, M. C. A Platform for Collaborative
                            Historical Research based on Volunteered Geographical Information. Journal of Information
                            and Data Management, Vol. 9, No. 3, December 2018, Pages 291–304. </p>

                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                        <div class=  "col-md-6 mb-md-0 mb-3">
                            <p style="color: azure"><br>FERREIRA, K. R.; FERLA, L.; QUEIROZ, G. R. de; VIJAYKUMAR, N.
                                L.;NORONHA, C. A.; MARIANO, R. M.; WASSEF, Y.; TAVEIRA, D.; DARDI,I. B.; SANSIGOLO, G.;
                                et
                                al. Pauliceia 2.0: A Computational Platform for Collaborative Historical Research. In:
                                XVIII
                                Brazilian Symposium on Geoinformatics (GeoInfo 2017), 2017, Salvador. XVIII Brazilian
                                Symposium on Geoinformatics Proceedings, 2017. v. 1. p. 1.</p>

                        </div>
                    </div>

            </div>

    </div>

    </div>

    <div class="footer-copyright text-center py-3" style="color: azure">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>

    </footer>
    </div>

</body>


</html>